<% base_path = '/api-docs/' %>
<!DOCTYPE html>
<html>
<head>
  <title>CareCloud Interactive API Documentation</title>
  <!-- <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/> -->
  <link href='<%=base_path%>css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='<%=base_path%>css/reset.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='<%=base_path%>css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='<%=base_path%>css/reset.css' media='print' rel='stylesheet' type='text/css'/>
  <link href='<%=base_path%>css/print.css' media='print' rel='stylesheet' type='text/css'/>
  <link href='<%=base_path%>css/carecloud.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='<%=base_path%>simplemodal/basic.css' media='screen' rel='stylesheet' type='text/css'/>
  <script src="<%=base_path%>lib/shred.bundle.js" type='text/javascript'></script>
  <script src='<%=base_path%>lib/jquery-1.8.0.min.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/jquery.slideto.min.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/jquery.wiggle.min.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/handlebars-2.0.0.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/underscore-min.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/backbone-min.js' type='text/javascript'></script>
  <script src='<%=base_path%>swagger-ui.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/highlight.7.3.pack.js' type='text/javascript'></script>
  <script src='<%=base_path%>lib/marked.js' type='text/javascript'></script>
  <script src='<%=base_path%>simplemodal/jquery.simplemodal-1.4.4.js' type='text/javascript'></script>
</head>
<body class="swagger-section">

<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="/v2/api-docs"></a>
    <form id='api_selector'>
      <div class='input icon-btn' style='display: none;'>
        <%# <img id="show-pet-store-icon" src="images/pet_store_api.png" title="Show Swagger Petstore Example Apis"> %>
      </div>
      <div class='input icon-btn' style='display: none;'>
        <%# <img id="show-wordnik-dev-icon" src="images/wordnik_api.png" title="Show Wordnik Developer Apis"> %>
      </div>
      <div class='input carecloud_swagger_token_control hide'><a id="refresh_token" class="carecloud_swagger_button" href="#">Refresh Token</a></div>
      <%# <div class='input' style=''><a id="demo_token" class="carecloud_swagger_button" href="#">Demo Token</a></div> %>
      <div class='input carecloud_swagger_token_control hide'><input placeholder="access token" id="input_accessToken" name="accessToken" type="text"/></div>
      <div class='input' style='width: 20px'>&nbsp;</div>
      <div class='input'><a class="carecloud_swagger_button" href="/v2/api-docs/help">Using the API</a></div>
      <div class='input'><a class="carecloud_swagger_button" href="/v2/api-docs">Endpoints</a></div>
      <div class='input'><a class="carecloud_swagger_button" href="/v2/api-docs/releases">What's New?</a></div>
    </form>
  </div>
</div>


<%= yield %>

</body>
</html>
