<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>CareCloud and ZocDoc</title>

    <!-- Bootstrap core CSS -->
    <link href="/zocdoc/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    
    <link href="/zocdoc/css/styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/zocdoc/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <img src="images/logos.png">
        <h1>Attract Patients.<br>Accelerate Productivity.</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <% if params[:zocdoc] %>
          <h2>Request Integration with ZocDoc</h2>
          <p>Please select the practice you would like to connect to ZocDoc to the right. Note: if you would like to integrate multiple practices, you will need to go through this request process for each practice individually.</p>
          <% else %>
          <h2>Learn More About ZocDoc</h2>
          <p>Please select your practice to the right. Once you submit, we'll forward your request to ZocDoc.</p>
          <% end %>
        </div>
        <div class="col-md-4 side-form">
          <h3>Select Practice</h3>
          <!-- <div class="form&#45;wrap"> -->
          <form class="form-wrap" action="/zocdoc/finish" method="post">
              <div class="form-group">
                  <label for="select-practice">Choose which Practice:</label>
                  <select class="form-control" id="select-practice" name="practice_id">
                    <!-- <option name="" value="">&#45; select a practice &#45;</option> -->
                    <% @entities.each do |acc| %>
                    <option value="<%= acc['id'] %>"><%= acc['name_alias'] %></option>
                    <% end %>
                  </select>
                </div>
                <!-- <p><a class="btn btn&#45;custom" href="#" role="button">Continue</a></p> -->
                <p><input type="submit" value="Continue" class="btn btn-custom" href="#" role="button"></a></p>
          <input type="hidden" name="user_email" value=<%= params[:user_email] %>>
          <input type="hidden" name="token" value=<%= @token %>>
          <% if params[:zocdoc] %>
          <input type="hidden" name="zocdoc" value=<%= params[:zocdoc] %>>
          <% end %>
          <!-- </div> -->
          </form>
       </div>
      </div>
		<div class="row">
        	<!-- <div class="col&#45;md&#45;12 panel panel&#45;default"> -->
          <!--   	<p>Note: If you are an existing ZocDoc client, but not a current CareCloud client, please submit the form on the <a href="">previous page</a></p> -->
          <!--   </div> -->
        </div>
      <hr>

      <footer>
        <p>Copyright © 2015 CareCloud Corporation. All rights reserved.<br><a href="http://www.carecloud.com/privacy-policy/" target="_blank">Privacy Policy</a></p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/zocdoc/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/zocdoc/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
